# OS generated
.DS_Store
Thumbs.db
ehthumbs.db

# Editor & IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.tmp

# Logs
*.log

# Build archives
*.zip
*.tar.gz

# Allow bundled plugins
!bundled-plugins/
!bundled-plugins/*.zip
